*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway";
    padding: 5em 0 0;
    background: #FEFAE0;
}
/*nav bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #606c38;
    padding: 10px;
    box-shadow: 0px 5px 5px 0px #818181;
    
    
}
.logo{
    display:flex;
    align-items: center;
    
}

.logo img {
    height:6em;
    margin-right: 1em;
    cursor: pointer;
    transition: all(0.3s);
}
.logo img:hover{
    transform: scale(1.2);
}

.logotipo{
    filter: drop-shadow( 3px  5px  4px #cec742);
    }

.nav-menu {
    display: flex;
    align-items: center;
   
}
.nav-enlace{
    text-decoration: none;
    color:rgb(254,250,224);
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em 0.5em;
}
.nav-enlace:hover{
    background:#CCD5AE;
    border-radius: 30px;
    transition: 0.5s;

}
.nav-menu-item{
    margin-right: 40px;
    list-style: none;
    text-transform: uppercase;
    width: max-content;
    transition: all(0.3s);
}

.nav-menu-item:hover{
    transform: scale(1.1);
}
.toggle{
    background: none;
    border: none;
    display: none;
}

/* presentacion*/
.banner{
    width: 100%;

}

h1 {
    font-size: 3em;
    color: #606c38;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2{
    font-size: 2.5em;
    color:#606c38
}

.empresa{
    font-weight: bold;
    font-style: italic;
    font-size: 1.5em;
}
span{
    font-weight: bold;
    font-size: 1.6em;
    font-style: italic;
}

.parrafo{
    padding-top: 1em;
}

.presentacion{
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
}
.negrita{
    font-weight: bold;
    font-size: 1.2em;
    font-style: italic;
}
.titulo_secundario{
    font-size: 3em;
    color: #606c38;
    text-align: center;
    padding-top: 1em;
    
}
p{
    font-size: 1.5em;
}

/* Nuestro Equipo*/
.equipo{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5em;
    margin-right: 3em;
    margin-bottom: 5em;
}
.equipo1{
    width: 30%;
    padding-top: 50px;
    padding-bottom:50px ;
}
.foto{
    border-radius: 30px;
}
.linkedin{
    text-decoration: none;
}

/*footer*/
.logo-footer img {
    height:6em;
    margin-right: 1em;
    cursor: pointer;
    transition: all(0.3s);
}
.logo-footer img:hover{
    transform: scale(1.2);
}
.logotipo{
    filter: drop-shadow( 3px  5px  4px #cec742);
    }
.pre{
    width:20%;
    margin-top: 5vh;
    display: inline-flex;
   color: #CCD5AE;
   font-size: 20px;
   font-weight: bold;
   margin-left: 3vh;
   margin-right: 12vh;

}
#footer{
    background-color: #606c38;
    display: flex;
    height: auto;
    box-shadow: 0px 0px 5px 3px #818181;
    font-family: "Raleway";
}

.whatsapp{
    position: 1;
}

.pre .iconitosF{
    width: 30px;
    display: flex;
    margin-right: 8px;
    margin-bottom: -55px;
}
.iEnLinea{
display: inline-flex;
}
.whatsapp{
    position: fixed;
    right: 2vh;
    bottom: 20px; 
    z-index: 9999;
    padding: 10px 20px;
    width: 110px; 
    height: 100px; 
    filter: drop-shadow(-01px 02px 5px #181818);
  }
   .whatsapp a {
    width: 200px; 
    height: 150px; 
   }



/* Media Query*/
@media (max-width: 52em){
    body{
        padding-top: 4em;
    }
    .header{
        height: 4em;
    }
    .logo img{
        height: 4em;
    }
    
    .nav-menu{
        flex-direction: column;
        background-color: #ccd5ae;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0px;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        margin-top: 10px;
        margin-bottom: 10px;  
    }
    .nav-enlace:hover{
        background:none;
        transition: none;
        color:#dda15e;
        
    }
    .nav-menu-item:hover{
        transform: none;
        
    }
    .toggle{
        display: block;
        padding-left: 16em;
    }
    .nav-menu_visible{
        left: 0%;
    }

    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    span{
        font-size: 1em;
    }
    .negrita{
        font-size: 1em;
    }
    .empresa{
        font-size: 1.2em;
    }
    p{
        font-size: 1.2em;
    }
    .titulo_secundario{
        font-size: 2em;
    }

    /*nuestro equipo*/
    .equipo{
        display:block;
    }

    .equipo1{
        width: 80%;
    }

    #footer{
        display:block;
       
    }
    .pre{
        width:100%;
        text-align: center;
    }

    
   
}