*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway";
    padding: 5em 0 0;
    background-color: #ffffff;
}
/*nav bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background: #606c38;
    padding: 10px;
    box-shadow: 0px 5px 5px 0px #818181;
    
}

.logo{
    display:flex;
    align-items: center;
    
}
.logo img {
    height:6em;
    margin-right: 1em;
    cursor: pointer;
    transition: all(0.3s);
}
.logo img:hover{
    transform: scale(1.2);
}

.nav-menu {
    display: flex;
    align-items: center;
   
}
.nav-enlace{
    text-decoration: none;
    color:rgb(254,250,224);
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em 0.5em;
    
}
.nav-enlace:hover{
    background:#CCD5AE;
    border-radius: 30px;
    transition: 0.5s;

}
.nav-menu-item{
    margin-right: 40px;
    list-style: none;
    text-transform: uppercase;
    width: max-content;
    transition: all(0.3s);
}

.nav-menu-item:hover{
    transform: scale(1.1);
}
.toggle{
    background: none;
    border: none;
    display: none;
}
/*                */
.imgcarousel{
    height: 600px;
}
.espacio{
    height: 17px;
}

.textoEig{
    width: 80%;
    display: flex;
    margin-left: 17vh;

}

.texto{
    text-align: center;
    display: block;
    margin-inline: 25vh;

}

.img-texto{
    width: 350px;
    border-radius: 15%;
    margin-left: 2vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}


.textoGrande{
    font-size: 40px; 
    color:#606c38;
    text-align: center;
    filter: drop-shadow(-4px 4px 03px #a7ac85);
}

.texto-card{
 font-size: 25px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 text-align: center;
 color: #586822;
 
}

.cardsFila{
    display: flex;
    justify-content: center;
}

.logotipo{
filter: drop-shadow( 3px  5px  4px #cec742);
}

.card-img{
    filter: drop-shadow(02px 06px 4px #000);
    padding: 10px;
    border-radius: 55%;
    
}
.card-img:hover {
    transform: scale(1.05) ;
    transition: transform 0.5s ;
    border-radius: 5%;
}

.card2{
    background: none;
    
}

.pre{
    margin-top: 5vh;
    display: inline-flex;
   color: #CCD5AE;
   font-size: 20px;
   font-weight: bold;
   margin-left: 11vh;
   margin-right: 5vh;

}
#footer{
    background-color: #606c38;
    display: flex;
    height: 200px;
    box-shadow: 0px 0px 5px 3px #818181;
    font-family: "Raleway";
}

.whatsapp{
    position: 1;
}



.pre .iconitosF{
    width: 30px;
    display: flex;
    margin-right: 8px;
    margin-bottom: -55px;
}
.iEnLinea{
display: inline-flex;
}
.whatsapp{
    position: fixed;
    right: 2vh;
    bottom: 20px; 
    z-index: 9999;
    padding: 10px 20px;
    width: 110px; 
    height: 100px; 
    filter: drop-shadow(-01px 02px 5px #181818);
  }
   .whatsapp a {
    width: 200px; 
    height: 150px; 
   }


/*media query*/

@media screen and (max-width: 52em){
    body{
        padding-top: 4em;
    }
    .header{
        height: 4em;
    }
    .logo img{
        height: 4em;
    }
    
    .nav-menu{
        flex-direction: column;
        background-color: #CCD5AE;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0px;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-menu-item{
        margin-top: 10px;
        margin-bottom: 10px;  
    }
    .nav-enlace:hover{
        background:none;
        transition: none;
        color:#dda15e;
        
    }
    .nav-menu-item:hover{
        transform: none;
        
    }
    .toggle{
        display: block;
        padding-left: 16em;
    }
    .nav-menu_visible{
        left: 0%;
    }

/*fin media query*/


}

